
<p>
  <strong>Item:</strong>
  <%= @list.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @list.quantity %>
</p>

<p>
  <strong>Market:</strong>
  <%= @list.market %>
</p>

<p>
  <strong>Note:</strong>
  <%= @list.note %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>